HoneywellLyricAPI_Flow
[
  {
    "id": "bccd7a64.9662e8",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 843.8050384521484,
    "y": 444.07083892822266,
    "wires": [
      [
        "276caadd.f00776"
      ]
    ]
  },
  {
    "id": "293b6fea.4d4f4",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Get Location ID",
    "func": "LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/v1/locations?apikey=\"+context.global.honeywellAPIKey,\n    \"method\": \"GET\",\n    headers:\n    {\n        \"Authorization\":\"Bearer \"+context.global.honeywellLyricAccessToken\n    }\n};\n    \nreturn LyricCMDmsg;\n\n\n//\"url\":\"https://api.honeywell.com/v2/devices/thermostats?apikey=8bFYM0sl5YI7SyYgzz4Qv7IqqBUq19Do&locationId=138889\",",
    "outputs": 1,
    "noerr": 0,
    "x": 659.8016357421875,
    "y": 444.133451461792,
    "wires": [
      [
        "bccd7a64.9662e8"
      ]
    ]
  },
  {
    "id": "974d7e58.e5ad5",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 622.8605651855469,
    "y": 370.32096767425537,
    "wires": [
      [
        "6e302583.9d2edc",
        "658f7458.ec295c"
      ]
    ]
  },
  {
    "id": "1ff8cd5.e06d033",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Request Acess Token",
    "func": "var LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers:\n    {\n        \"Authorization\":context.global.honeywellOauth2Token,\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload:\n    {\n        \"grant_type\":\"refresh_token\",\n        \"refresh_token\":context.global.honeywellLyricRefreshToken\n    }\n};\n    node.send(LyricCMDmsg);\nreturn; ",
    "outputs": 1,
    "noerr": 0,
    "x": 423.8570442199707,
    "y": 370.3833417892456,
    "wires": [
      [
        "974d7e58.e5ad5"
      ]
    ]
  },
  {
    "id": "ca119d36.ee89e",
    "type": "inject",
    "z": "a6b9df94.238a2",
    "name": "Request every 30 sec",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": true,
    "x": 143.04234313964844,
    "y": 369.8270969390869,
    "wires": [
      [
        "1ff8cd5.e06d033"
      ]
    ]
  },
  {
    "id": "6e302583.9d2edc",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "Set Access Token",
    "rules": [
      {
        "t": "set",
        "p": "honeywellLyricAccessToken",
        "pt": "global",
        "to": "payload.access_token",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 449.8605194091797,
    "y": 444.3208284378052,
    "wires": [
      [
        "293b6fea.4d4f4"
      ]
    ]
  },
  {
    "id": "940e091f.7ac598",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1216.5642166137695,
    "y": 442.3776044845581,
    "wires": []
  },
  {
    "id": "bd467fb5.d804f",
    "type": "inject",
    "z": "a6b9df94.238a2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 350.8959045410156,
    "y": 300.88892555236816,
    "wires": [
      [
        "3a43a4f.f1ed75c",
        "1ff8cd5.e06d033"
      ]
    ]
  },
  {
    "id": "3a43a4f.f1ed75c",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Define Globals / executeLyricTstatCMD",
    "func": "// Honeywell Lyric\n\nif (typeof context.global.honeywellAPIKey==='undefined' )\n{\n    context.global.honeywellAPIKey = \"\";\n}\nif (typeof context.global.honeywellConsumerSecert==='undefined' )\n{\n    context.global.honeywellConsumerSecert = \"\";\n}\n\nif (typeof context.global.honeywellLyricRefreshToken==='undefined' )\n{\n    context.global.honeywellLyricRefreshToken = \"\";\n}\nif (typeof context.global.honeywellAPIcode==='undefined' )\n{\n    context.global.honeywellAPIcode = \"\";\n}\nif (typeof context.global.honeywellOauth2Token==='undefined' )\n{\n    context.global.honeywellOauth2Token = \"\";\n}\nif (typeof context.global.honeywellLyricAccessToken==='undefined' )\n{\n    context.global.honeywellLyricAccessToken = \"\";\n}\n\n\ncontext.global.honeywellLyricDeviceID = \"\";\ncontext.global.honeywellLyricLocationID = \"\";\ncontext.global.honeywellLyricName = \"\";\ncontext.global.changeableValues = {};\n\ncontext.global.executeLyricTstatCMD = function (lyricName,command,Param) {\n    var WinkCMDmsg = {};\n    if ('new_version' in context.global && context.global.new_version){ \n        var cmd = command.toLowerCase();\n        var xParam = (typeof Param === 'string' ? Param.toLowerCase() : Param);\n        node.warn(lyricName+' '+cmd+' '+xParam);\n        try {\n            if (lyricName in context.global.winkState.thermostats)\n            {\n                var devCapbs=context.global.winkDevCap[lyricName].fields || [];\n                //node.warn(devCapbs);\n                if (cmd != \"fan\"){\n                WinkCMDmsg ={\n                        \"url\":\"https://api.honeywell.com/v2/devices/thermostats/\"+context.global.honeywellLyricDeviceID+\"?apikey=\"+context.global.honeywellAPIKey+\"&locationId=\"+context.global.honeywellLyricLocationID,\n                    \"method\": \"POST\",\n                    headers: {\n                        \"Authorization\":\"Bearer \"+context.global.honeywellLyricAccessToken\n                    },\n                    //payload set in switch statement below\n                };\n                }\n                switch (cmd){\n                    case 'mode':\n                        if (devCapbs[context.global.searchArray(devCapbs,'mode','field')]!=-1 ){\n                            WinkCMDmsg.payload={\n                                \"mode\":xParam ,\n                                \"coolSetpoint\": context.global.winkState.thermostats[lyricName].cool_set_point,\n                                \"heatSetpoint\": context.global.winkState.thermostats[lyricName].heat_set_point,\n                                \"thermostatSetpointStatus\": \"PermanentHold\"\n                            };\n                        } else WinkCmd={};\n                    break;\n                    case 'temperature':\n                        WinkCMDmsg.payload={\n                            \"mode\":context.global.winkState.thermostats[lyricName].mode,\n                            \"coolSetpoint\": xParam,\n                            \"heatSetpoint\": xParam,//context.global.winkState.thermostats[lyricName].heat_set_point,\n                            \"thermostatSetpointStatus\": \"PermanentHold\"\n                        };\n                    break;\n                    case 'adjust':\n                        WinkCMDmsg.payload={\n                            \"mode\":context.global.winkState.thermostats[lyricName].mode,\n                            \"coolSetpoint\": (context.global.winkState.thermostats[lyricName].cool_set_point +xParam),\n                            \"heatSetpoint\": (context.global.winkState.thermostats[lyricName].heat_set_point +xParam),\n                            \"thermostatSetpointStatus\": \"PermanentHold\"\n                        };\n                    break;\n                    case 'fan':\n                        WinkCMDmsg ={\n                            \"url\":\"https://api.honeywell.com/v2/devices/thermostats/\"+context.global.honeywellLyricDeviceID+\"/fan?apikey=\"+context.global.honeywellAPIKey+\"&locationId=\"+context.global.honeywellLyricLocationID,\n                            \"method\": \"POST\",\n                            headers: {\n                                \"Authorization\":\"Bearer \"+context.global.honeywellLyricAccessToken\n                            },    \n                            payload:{\n                                \"mode\":xParam                            \n                            }};                          \n                    break;                     \n                    default:\n                    WinkCMDmsg={};    \n                }\n            }\n        }\n        catch (error){\n                node.warn('execute tStat CMD error: '+ error.message);\n        }        \n    }\n    return WinkCMDmsg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 640.8993606567383,
    "y": 301.26392364501953,
    "wires": [
      []
    ]
  },
  {
    "id": "149a1a62.cd5f26",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 1128.7627258300781,
    "y": 653.8888823986053,
    "wires": [
      [
        "269726e3.23c64a"
      ]
    ]
  },
  {
    "id": "4b95da81.5bdd24",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Set Thermostat",
    "func": "var thermostat = context.global.honeywellLyricName;\n//return context.global.executeLyricTstatCMD(thermostat,\"fan\",\"auto\");\n//return context.global.executeLyricTstatCMD(thermostat,\"temperature\",\"65\");\nreturn context.global.executeLyricTstatCMD(thermostat,\"mode\",\"cool\");\n",
    "outputs": 1,
    "noerr": 0,
    "x": 951.75927734375,
    "y": 653.9514770507812,
    "wires": [
      [
        "149a1a62.cd5f26"
      ]
    ]
  },
  {
    "id": "4ede250d.3338dc",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 571.8182487487793,
    "y": 654.1390466690063,
    "wires": [
      [
        "b1e50bc6.fbe6f8"
      ]
    ]
  },
  {
    "id": "6fc2bce0.74e1a4",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Request Acess Token",
    "func": "var LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers:\n    {\n        \"Authorization\":context.global.honeywellOauth2Token,\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload:\n    {\n        \"grant_type\":\"refresh_token\",\n        \"refresh_token\":context.global.honeywellLyricRefreshToken\n    }\n};\n    node.send(LyricCMDmsg);\nreturn; ",
    "outputs": 1,
    "noerr": 0,
    "x": 372.8147277832031,
    "y": 654.2014207839966,
    "wires": [
      [
        "4ede250d.3338dc"
      ]
    ]
  },
  {
    "id": "fd252a4a.3d1d78",
    "type": "inject",
    "z": "a6b9df94.238a2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 185.63639450073242,
    "y": 653.9179422855377,
    "wires": [
      [
        "6fc2bce0.74e1a4"
      ]
    ]
  },
  {
    "id": "b1e50bc6.fbe6f8",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "Set Access Token",
    "rules": [
      {
        "t": "set",
        "p": "honeywellLyricAccessToken",
        "pt": "global",
        "to": "payload.access_token",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 758.8182144165039,
    "y": 654.1388556957245,
    "wires": [
      [
        "4b95da81.5bdd24"
      ]
    ]
  },
  {
    "id": "269726e3.23c64a",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1280.7037353515625,
    "y": 654.0137939453125,
    "wires": []
  },
  {
    "id": "67c51b8f.2e70a4",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 1049.30810546875,
    "y": 801.5858764648438,
    "wires": [
      [
        "44c6d347.cab0cc",
        "739e778e.0499d8",
        "f6ccd56e.4d0768"
      ]
    ]
  },
  {
    "id": "91d0955f.77b1d8",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Get Thermostat",
    "func": "LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/v2/devices/thermostats/\"+context.global.honeywellLyricDeviceID+\"?apikey=\"+context.global.honeywellAPIKey+\"&locationId=\"+context.global.honeywellLyricLocationID,\n    \"method\": \"GET\",\n    headers:\n    {\n        \"Authorization\":\"Bearer \"+context.global.honeywellLyricAccessToken\n    }\n};\n    \nreturn LyricCMDmsg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 873.3047752380371,
    "y": 800.6484031677246,
    "wires": [
      [
        "67c51b8f.2e70a4"
      ]
    ]
  },
  {
    "id": "e447aa69.59a088",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 481.1819305419922,
    "y": 801.7449836730957,
    "wires": [
      [
        "7d9f4efd.85642"
      ]
    ]
  },
  {
    "id": "6d0aae3a.2e2c2",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Request Acess Token",
    "func": "var LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers:\n    {\n        \"Authorization\":context.global.honeywellOauth2Token,\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload:\n    {\n        \"grant_type\":\"refresh_token\",\n        \"refresh_token\":context.global.honeywellLyricRefreshToken\n    }\n};\n    node.send(LyricCMDmsg);\nreturn; ",
    "outputs": 1,
    "noerr": 0,
    "x": 282.178409576416,
    "y": 801.8073577880859,
    "wires": [
      [
        "e447aa69.59a088"
      ]
    ]
  },
  {
    "id": "97c37e25.f713",
    "type": "inject",
    "z": "a6b9df94.238a2",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 96.72735595703125,
    "y": 801.6147224903107,
    "wires": [
      [
        "6d0aae3a.2e2c2"
      ]
    ]
  },
  {
    "id": "7d9f4efd.85642",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "Set Access Token",
    "rules": [
      {
        "t": "set",
        "p": "honeywellLyricAccessToken",
        "pt": "global",
        "to": "payload.access_token",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 672.3637008666992,
    "y": 801.835780620575,
    "wires": [
      [
        "91d0955f.77b1d8"
      ]
    ]
  },
  {
    "id": "44c6d347.cab0cc",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1230.2491607666016,
    "y": 801.7107944488525,
    "wires": []
  },
  {
    "id": "739e778e.0499d8",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "changeableValues",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.changeableValues",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1248.9175033569336,
    "y": 838.9104480743408,
    "wires": [
      [
        "c4583661.09f758"
      ]
    ]
  },
  {
    "id": "47ec0e36.e6b46",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1551.441162109375,
    "y": 838.4950561523438,
    "wires": []
  },
  {
    "id": "c4583661.09f758",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "mode",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.mode",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1409.3720092773438,
    "y": 839.0924072265625,
    "wires": [
      [
        "47ec0e36.e6b46"
      ]
    ]
  },
  {
    "id": "658f7458.ec295c",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 823.8050003051758,
    "y": 370.0707483291626,
    "wires": []
  },
  {
    "id": "26b8eb0b.deeca4",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "honeywellLyricLocationID",
    "rules": [
      {
        "t": "set",
        "p": "honeywellLyricLocationID",
        "pt": "global",
        "to": "payload.locationID",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "honeywellLyricLocationID",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 488.80492401123047,
    "y": 515.0708017349243,
    "wires": [
      [
        "d86accf4.a59e5"
      ]
    ]
  },
  {
    "id": "bee7b9fa.f9aa88",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1133.804931640625,
    "y": 514.0707397460938,
    "wires": []
  },
  {
    "id": "276caadd.f00776",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Parse payload",
    "func": "var msgs = [];\nfor (var i = 0; i< msg.payload.length; i++) {\n  msgs.push({payload: msg.payload[i]});\n}\n\nreturn msgs;",
    "outputs": 1,
    "noerr": 0,
    "x": 1035.745979309082,
    "y": 443.5429639816284,
    "wires": [
      [
        "26b8eb0b.deeca4",
        "940e091f.7ac598"
      ]
    ]
  },
  {
    "id": "28ea0c82.d54574",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 918.8049163818359,
    "y": 515.0707311630249,
    "wires": [
      [
        "bee7b9fa.f9aa88"
      ]
    ]
  },
  {
    "id": "d86accf4.a59e5",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Get Devices",
    "func": "LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/v2/devices/thermostats?apikey=\"+context.global.honeywellAPIKey+\"&locationId=\"+context.global.honeywellLyricLocationID,\n    \"method\": \"GET\",\n    headers:\n    {\n        \"Authorization\":\"Bearer \"+context.global.honeywellLyricAccessToken\n    }\n};\n    \nreturn LyricCMDmsg;\n\n//\"url\":\"https://api.honeywell.com/v2/devices/thermostats?apikey=8bFYM0sl5YI7SyYgzz4Qv7IqqBUq19Do&locationId=138889\",",
    "outputs": 1,
    "noerr": 0,
    "x": 724.801513671875,
    "y": 515.1333436965942,
    "wires": [
      [
        "28ea0c82.d54574"
      ]
    ]
  },
  {
    "id": "96088ee7.e76c5",
    "type": "http in",
    "z": "a6b9df94.238a2",
    "name": "",
    "url": "/red/honeywell",
    "method": "get",
    "swaggerDoc": "",
    "x": 116.8958511352539,
    "y": 83.888916015625,
    "wires": [
      [
        "ca89eac1.60ede8"
      ]
    ]
  },
  {
    "id": "ca89eac1.60ede8",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Get an Authorization Code",
    "func": "return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 354.89581298828125,
    "y": 83.88885498046875,
    "wires": [
      [
        "c6fd78f0.3a88a8",
        "c2364298.b8425"
      ]
    ]
  },
  {
    "id": "c6fd78f0.3a88a8",
    "type": "http response",
    "z": "a6b9df94.238a2",
    "name": "",
    "x": 580.8958435058594,
    "y": 83.888916015625,
    "wires": []
  },
  {
    "id": "2aefbfa1.9fb1b",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 396.895751953125,
    "y": 188.88885498046875,
    "wires": []
  },
  {
    "id": "f6ccd56e.4d0768",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "operationStatus",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.operationStatus",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240.930809020996,
    "y": 763.5973377227783,
    "wires": [
      [
        "cb927708.bf2f18"
      ]
    ]
  },
  {
    "id": "1e54434c.8c810d",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1535,
    "y": 764,
    "wires": []
  },
  {
    "id": "cb927708.bf2f18",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "mode",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.mode",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1391.9307861328125,
    "y": 763.5973510742188,
    "wires": [
      [
        "1e54434c.8c810d"
      ]
    ]
  },
  {
    "id": "c2364298.b8425",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "honeywellAPIcode",
    "rules": [
      {
        "t": "set",
        "p": "honeywellAPIcode",
        "pt": "global",
        "to": "payload.code",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 198,
    "y": 143,
    "wires": [
      [
        "2aefbfa1.9fb1b",
        "6ba0cd16.684654"
      ]
    ]
  },
  {
    "id": "6ba0cd16.684654",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Create a Token from an Authorization Code",
    "func": "var b = new Buffer(context.global.honeywellAPIKey+\":\"+context.global.honeywellConsumerSecert);\nmsg.payload = b.toString('base64');\ncontext.global.honeywellOauth2Token = msg.payload\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 144,
    "wires": [
      [
        "e6cff8d2.664698"
      ]
    ]
  },
  {
    "id": "d47d8206.6d42",
    "type": "http request",
    "z": "a6b9df94.238a2",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 973,
    "y": 144,
    "wires": [
      [
        "2d74cee4.45f072",
        "2a8da281.14071e"
      ]
    ]
  },
  {
    "id": "e6cff8d2.664698",
    "type": "function",
    "z": "a6b9df94.238a2",
    "name": "Request Acess Token",
    "func": "context.global.BlueMixUrlBase = context.global.BlueMixUrlBase.toLowerCase();\nvar LyricCMDmsg ={\n    \"url\":\"https://api.honeywell.com/oauth2/token\",\n    \"method\": \"POST\",\n    headers:\n    {\n        \"Authorization\":context.global.honeywellOauth2Token,\n        \"Content-Type\": \"application/x-www-form-urlencoded\"\n    },\n    payload:\n    {\n        \"grant_type\":\"authorization_code\",\n        \"code\":context.global.honeywellAPIcode,\n        \"redirect_uri\":context.global.BlueMixUrlBase+'/red/honeywell'\n    }\n};\n    node.send(LyricCMDmsg);\nreturn; ",
    "outputs": 1,
    "noerr": 0,
    "x": 781.9964599609375,
    "y": 144.0623779296875,
    "wires": [
      [
        "d47d8206.6d42"
      ]
    ]
  },
  {
    "id": "2d74cee4.45f072",
    "type": "debug",
    "z": "a6b9df94.238a2",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1165.9444580078125,
    "y": 144.74978637695312,
    "wires": []
  },
  {
    "id": "2a8da281.14071e",
    "type": "change",
    "z": "a6b9df94.238a2",
    "name": "Set honeywellLyricRefreshToken",
    "rules": [
      {
        "t": "set",
        "p": "honeywellLyricRefreshToken",
        "pt": "global",
        "to": "payload.refresh_token",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "honeywellLyricAccessToken",
        "pt": "global",
        "to": "payload.access_token",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1012,
    "y": 195,
    "wires": [
      []
    ]
  },
  {
    "id": "bffe259a.562648",
    "type": "comment",
    "z": "a6b9df94.238a2",
    "name": "API Access Authentication Flow",
    "info": "",
    "x": 164,
    "y": 26,
    "wires": []
  },
  {
    "id": "e8cacc64.02b8",
    "type": "comment",
    "z": "a6b9df94.238a2",
    "name": "Device Access and Integration Flow",
    "info": "",
    "x": 154.00006103515625,
    "y": 252.0000286102295,
    "wires": []
  },
  {
    "id": "cfa6cd16.b24fb",
    "type": "comment",
    "z": "a6b9df94.238a2",
    "name": "Sample Flow for setting device data",
    "info": "",
    "x": 175,
    "y": 582,
    "wires": []
  },
  {
    "id": "5bff16d0.b861c8",
    "type": "comment",
    "z": "a6b9df94.238a2",
    "name": "Sample Flow for getting device data",
    "info": "",
    "x": 145,
    "y": 745,
    "wires": []
  }
]
